* {
  font-family: poppins;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #ffff;
}

html,
body {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

input {
  border: none;
  outline: none;
  border-radius: 5px;
  height: 2.4rem;
  padding-left: 3%;
  background-color: transparent;
  color: #ffffff !important;
  font-family: "Poppins", sans-serif;
}

input::placeholder {
  color: rgba(255, 255, 255, 0.7);
}
a {
  text-decoration: none;
  font-weight: bolder;
}

#Background_Back {
  background-blend-mode: normal;
  --f2w-order: 0;
  background-image: radial-gradient(
    58.4% 103.9% at 56.7%,
    #ff6a00 0%,
    #652a00 100%
  );

  width: 100vw;
  height: 100vh;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

#Background_Front {
  margin-top: 10px;
  background-image: radial-gradient(
    58.4% 103.9% at 56.7%,
    #ff6a00 0%,
    #653200 100%
  );

  border-radius: 24px;

  width: 90%;
  min-height: 90%;
  gap: 0;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  box-shadow: 89px 139px 165px #00000017;
}

header {
  grid-column-gap: 68px;
  backdrop-filter: blur(8.9px);
  background-color: #5882c115;
  border-radius: 28.5px;

  width: 100%;
  height: 85px;
  padding: 37.9px 0 37.9px 41.9px;

  display: flex;
  justify-content: flex-start;
  align-items: center;
  overflow: hidden;
}

#Logo_Name {
  flex-shrink: 0;
  width: 30%;
  height: 80px;
  display: flex;
  align-items: center;
  align-content: center;
  gap: 10%;
}

#Logo_frame {
  border-radius: 80px;
  width: 74px;
  height: 72px;
  top: 0;
  left: 0;
  overflow: hidden;
}
#Logo {
  object-fit: cover;
  border-radius: 80px;
  width: 100%;
  height: 100%;
  inset: 0;
}

#Title {
  text-align: left;
  width: max-content;
  font-size: 24px;
  font-weight: 600;
}
#Look-up {
  grid-column-gap: 40%;
  -webkit-backdrop-filter: blur(8.9px);
  backdrop-filter: blur(8.9px);
  background-color: #5882c11a;
  border-radius: 28.5px;
  flex-flow: row;
  flex-shrink: 0;
  justify-content: flex-start;
  align-items: center;
  width: 466px;
  height: 46px;
  margin: 0;
  padding: 37.9px 0 37.9px 23.9px;
  display: flex;
  position: relative;
  overflow: hidden;
}

#Text-Lp {
  text-align: left;
  width: max-content;
  margin: 0;
  font-size: 15px;
  font-weight: 600;
  background-color: transparent;
  color: #ffff;
}
#Look-Icon {
  flex-shrink: 0;
  width: 24px;
  height: 24.5px;
  margin: 0;
  position: relative;
}

/*Lupa de busqueda*/
#Line_1 {
  --f2w-order: 0;
  transform-origin: 0 0;
  border: 0 solid #fff;
  border-top-width: 1px;
  width: 15px;
  height: 1px;
  position: absolute;
  top: 14px;
  left: 10.8px;
  transform: rotate(132deg);
}
#Ellipse_1 {
  --f2w-order: 1;
  border: 1px solid #fff;
  border-radius: 50%;
  width: 18px;
  height: 16px;
  position: absolute;
  top: 0;
  left: 6px;
}

#main-layout {
  display: grid;
  grid-template-columns: 0.7fr 2fr 0.7fr; /* Tres columnas: lateral, centro (más ancha), lateral */
  gap: 20px;
  padding: 20px;
  flex: 1;
}

#Left-Panel,
#Right-Panel,
#Posts {
  display: flex;
  row-gap: 21px;
  align-items: center;
  border-radius: 28.5px;
  flex-direction: column;
  padding: 16.9px 15.9px 15px;
  justify-content: flex-start;
  height: 100%;
  -webkit-backdrop-filter: blur(8.9px);
  backdrop-filter: blur(10px);
  background-color: #5882c123;
  border-radius: 28.5px;
}

#New-Post {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  gap: 0.5rem;
  background-color: #5882c147;
  border-radius: 28.5px;
  width: 70%;
  height: auto;
  padding: 1em;
}

#Text-Photo {
  display: flex;
  flex-direction: row;
  height: auto;
  width: 100%;
  justify-content: center;
  align-items: center;
  gap: 5%;
  padding-top: 1%;
}

#Text_Box {
  background-color: #5882c147;
  border-radius: 28.5px;
  flex-flow: row;
  justify-content: flex-start;
  align-items: center;
  width: 80%;
  height: auto;
  padding: 1.5em;
  display: flex;
}

#Text_Post {
  font-size: 15px;
  font-weight: 600;
}

#User_Photo {
  object-fit: cover;
  border-radius: 150px;
  width: 10%;
  height: auto;
  max-height: 100px;
}

#Community-Selection {
  grid-column-gap: 9px;
  -webkit-backdrop-filter: blur(8.9px);
  backdrop-filter: blur(8.9px);
  background-color: #5882c147;

  border-radius: 28.5px;

  flex-flow: row;
  justify-content: center;
  align-items: center;

  padding: 1%;
  width: 30%;
  height: Auto;
  display: flex;
}

#Community_Img {
  border-radius: 50px;
  width: 15%;
  height: 100%;
}

#Posts::-webkit-scrollbar {
  width: 6px;
}
#Posts::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.2);
  border-radius: 10px;
}

#Post {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  background-color: #5882c147;
  border-radius: 28.5px;
  width: 70%;
  height: 70%;
  padding: 2.1px;
  gap: 1rem;
  justify-content: space-around;
  overflow-y: auto;
  overflow-x: hidden;
}

#Post_Name {
  font-size: 24px;
  font-weight: 600;
}

#Post_User {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: auto;
  padding-left: 1rem;
  padding-top: 1rem;

  gap: 1rem;
}

#Post_Img_User {
  border-radius: 50px;
  align-self: center;

  width: 6%;
  height: auto;
  max-height: 80px;
  object-fit: cover;
}

#Post_Img_Content {
  align-self: center;
  border-radius: 25px;

  width: 100%;
  height: auto;
  max-height: 200px;
  object-fit: cover;
}

#Post_Content {
  display: flex;
  gap: 1em;
  justify-items: center;
  align-content: center;
  flex-direction: column;
  width: 90%;
  min-height: 50%;
}

#Content-Text {
  text-align: left;
  justify-content: flex-start;
  text-align: justify;
  align-items: center;
  background-clip: text;
  font-size: 0.8em;
  font-weight: 600;
}

.User_pic {
  object-fit: cover;
  border-radius: 50px;
  width: 8%;
  height: auto;
  max-height: 50px;
}

#Comment_Section {
  display: flex;
  justify-content: start;
  align-items: center;
  background-color: #5882c147;
  border-radius: 28.5px;
  width: 70%;
  height: 10%;
  padding-left: 1em;
  gap: 3%;
}

#Comment-Text {
  border-radius: 28.5px;
  width: 38px;
  height: 38px;
  padding: 2.1px;
  overflow: hidden;
}

#comment_holder {
  text-align: left;
  width: max-content;
  font-size: 15px;
  font-weight: 600;
}

#Icons {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  width: 100%;
  height: auto;
  padding: 10px 0;
}

#Compartir,
#Comentar,
#Like {
  display: flex;
  text-align: center;
  justify-content: center;
  background-clip: text;
  align-items: center;
  width: 30%;
  height: 35px;
  margin: 0;
  gap: 10%;
}

#Vector,
#Vector_0,
#Vector_1 {
  width: 15%;
  height: auto;
  justify-content: center;
  align-items: center;
}

#Icon_text {
  font-size: 12px;
  font-weight: 500;
}

/*Aside derecho*/
#Trends {
  -webkit-backdrop-filter: blur(8.9px);
  backdrop-filter: blur(8.9px);
  background-color: #5882c121;
  border-radius: 28.5px;
  flex-flow: column;
  flex-shrink: 0;
  justify-content: center;
  align-items: center;
  row-gap: 29px;
  margin: 0;
  padding: 14.9px 24.9px;
  display: flex;
  position: relative;
  overflow: hidden;
  width: 90%;
}

#Title_Trends {
  text-align: left;
  -webkit-background-clip: text;
  background-clip: text;
  flex-shrink: 0;
  width: max-content;
  margin: 0;
  font-size: 1.3rem;
  font-weight: 600;

}

#Trend {
  grid-column-gap: 16px;
  -webkit-backdrop-filter: blur(8.9px);
  backdrop-filter: blur(8.9px);
  background-color: #5882c147;
  border-radius: 28.5px;
  flex-flow: row;
  flex-shrink: 0;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  margin: 0;
  padding: 3.9px 0 3.9px 17.9px;
  display: flex;
  position: relative;
  overflow: hidden;
}

#Trend_No {
  text-align: left;
  -webkit-background-clip: text;
  background-clip: text;
  flex-shrink: 0;
  width: max-content;
  margin: 0;
  font-size: 1.1rem;
  font-weight: 600;
  display: inline;
  position: relative;
}

#Trend_Name {
  text-align: left;
  flex-shrink: 0;
  width: max-content;
  margin: 0;
  font-family: Poppins;
  font-size: 1.1rem;
  font-weight: 600;
  display: inline;
  position: relative;
}

#Proximos_Eventos {
  -webkit-backdrop-filter: blur(8.9px);
  backdrop-filter: blur(8.9px);
  background-color: #5882c129;
  border-radius: 28.5px;
  flex-flow: column;
  flex-shrink: 0;
  justify-content: flex-start;
  align-items: center;
  row-gap: 12px;
  width: 90%;
  height: 379px;
  margin: 0;
  display: flex;
  position: relative;
  overflow: hidden;
}

#Title_Events {
  text-align: left;
  -webkit-background-clip: text;
  background-clip: text;
  flex-shrink: 0;
  width: max-content;
  margin: 0;
  font-family: Poppins;
  font-size: 24px;
  font-weight: 600;
  display: inline;
  position: relative;
}

#Evento {
  grid-column-gap: 10px;
  -webkit-backdrop-filter: blur(8.9px);
  backdrop-filter: blur(8.9px);
  background-color: #5882c124;
  border-radius: 28.5px;
  flex-flow: row;
  flex-shrink: 0;
  justify-content: center;
  align-items: center;
  width: 90%;
  height: 62px;
  margin: 0;
  padding: 0 0 0 8.9px;
  display: flex;
  position: relative;
  overflow: hidden;
}

#Logo_Evento {
  border-radius: 10px;
  flex-shrink: 0;
  width: 56px;
  height: 39px;
  margin: 0;
  position: relative;
  overflow: hidden;
}
.Img_Evento {
  object-fit: cover;
  border-radius: 10px;
  width: 100%;
  height: 100%;
  position: absolute;
  inset: 0;
}
#Nombre_Evento {
  -webkit-backdrop-filter: blur(8.9px);
  backdrop-filter: blur(8.9px);
  background-color: #5882c147;
  border-radius: 28.5px;
  flex-flow: column;
  flex-shrink: 0;
  justify-content: center;
  align-items: start;
  row-gap: 1px;
  width: 10%;
  height: 44px;
  margin: 0;
  padding: 13.9px 0 13.9px 16.9px;
  display: flex;
  position: relative;
  overflow: hidden;
}

#Evento_Name {
  text-align: left;
  -webkit-background-clip: text;
  background-clip: text;
  flex-shrink: 0;
  width: max-content;
  margin: 0;
  font-family: Poppins;
  font-size: 15px;
  font-weight: 600;
  display: inline;
  position: relative;
}

#Logo_Evento {
  --f2w-order: 0;
  border-radius: 10px;
  flex-shrink: 0;
  width: 56px;
  height: 39px;
  margin: 0;
  position: relative;
  overflow: hidden;
}
#__55 {
  object-fit: cover;
  border-radius: 10px;
  width: 100%;
  height: 100%;
  position: absolute;
  inset: 0;
}

#Nombre_Evento {
  --f2w-order: 1;
  -webkit-backdrop-filter: blur(8.9px);
  backdrop-filter: blur(8.9px);
  background-color: #5882c147;
  border-radius: 28.5px;
  flex-flow: column;
  flex-shrink: 0;
  justify-content: center;
  align-items: start;
  row-gap: 1px;
  width: 159px;
  height: 44px;
  margin: 0;
  padding: 13.9px 0 13.9px 16.9px;
  display: flex;
  position: relative;
  overflow: hidden;
}

#Profile-resume {
  background-color: #5882c147;
  border-radius: 28.5px;
  flex-flow: column;
  justify-content: flex-start;
  align-items: center;
  row-gap: 40px;
  width: 18%;
  height: 80%;
  padding: 11.9px 77.9px 0;
  display: flex;

  overflow: hidden;
}

#Profile {
  background-color: #5882c10a;
  border-radius: 28.5px;
  flex-shrink: 0;
  width: 290px;
  height: 312px;
  margin: 0;
  padding: 2.1px;
  position: relative;
  overflow: hidden;
}

#User_Info {
  -webkit-backdrop-filter: blur(8.9px);
  backdrop-filter: blur(8.9px);
  background-color: #5882c147;
  border-radius: 28.5px;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  row-gap: 1px;
  width: 159px;
  height: 44px;
  padding: 13.9px 6.9px;
  display: flex;
  position: absolute;
  top: calc(50% - 40px);
  left: calc(50% - 74px);
  overflow: hidden;
}

#Name_User {
  text-align: left;
  flex-shrink: 0;
  width: max-content;
  margin: 0;
  font-family: Poppins;
  font-size: 15px;
  font-weight: 600;
  display: inline;
  position: relative;
}

#User_Name {
  text-align: center;
  -webkit-background-clip: text;
  background-clip: text;
  flex-shrink: 0;
  justify-content: center;
  align-items: center;
  width: 67px;
  height: 10px;
  margin: 0;
  font-size: 10px;
  font-weight: 600;
}

#See_more {
  grid-column-gap: 9px;
  -webkit-backdrop-filter: blur(8.9px);
  backdrop-filter: blur(8.9px);
  background-color: #5882c147;
  border-radius: 28.5px;
  flex-flow: row;
  justify-content: center;
  align-items: center;
  width: 182px;
  height: 34px;
  padding: 37.9px 0;
  display: flex;
  position: absolute;
  top: calc(99px + 50%);
  left: calc(50% - 91px);
  overflow: hidden;
}

#See_more_text {
  text-align: left;
  color: #fff;
  --f2w-order: 1;
  -webkit-background-clip: text;
  background-clip: text;
  flex-shrink: 0;
  width: max-content;
  margin: 0;
  font-size: 15px;
  font-weight: 600;
  display: inline;
  position: relative;
}
#background_pic_frame {
  --f2w-order: 2;
  border-radius: 25px;
  width: calc(4.2px + 100%);
  height: 96px;
  position: absolute;
  top: -2.1px;
  left: -2.1px;
  right: -2.1px;
  overflow: hidden;
}
#background_pic {
  filter: saturate(0);
  object-fit: cover;
  border-radius: 25px;
  width: 100%;
  height: 100%;
  position: absolute;
  inset: 0;
}
#Profile-Pic_Frame {
  -webkit-backdrop-filter: blur(8.9px);
  backdrop-filter: blur(8.9px);
  background-color: #5882c147;
  border-radius: 28.5px;
  width: 85px;
  height: 76px;
  padding: 2.1px;
  position: absolute;
  top: 29.9px;
  left: calc(50% - 37px);
  overflow: hidden;
}

#Profile-Pic {
  object-fit: cover;
  border-radius: 25px;
  width: 100%;
  height: 100%;
  position: absolute;
  inset: 0;
}
#Amount_Friends {
  text-align: left;
  color: #fff;
  --f2w-order: 4;
  -webkit-background-clip: text;
  background-clip: text;
  width: max-content;
  font-family: Poppins;
  font-size: 15px;
  font-weight: 600;
  display: inline;
  position: absolute;
  top: 165.9px;
  left: 34.9px;

  color: #fff;
  -webkit-background-clip: text;
  background-clip: text;
  font-family: Poppins;
  font-size: 15px;
  font-weight: 600;
}

#Amount_Community {
  text-align: left;
  color: #fff;
  --f2w-order: 5;
  -webkit-background-clip: text;
  background-clip: text;
  width: max-content;
  font-family: Poppins;
  font-size: 15px;
  font-weight: 600;
  display: inline;
  position: absolute;
  top: 165.9px;
  right: 6.9px;

  color: #fff;
  -webkit-background-clip: text;
  background-clip: text;
  font-family: Poppins;
  font-size: 15px;
  font-weight: 600;
}

#Communitys {
  -webkit-backdrop-filter: blur(8.9px);
  backdrop-filter: blur(8.9px);
  background-color: #5882c10a;
  border-radius: 28.5px;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start ;
  align-items: center;
  width: 100%;
  height: auto;
  min-height:40%;
  margin: 0;
  padding: 2.1px;
  padding-top: 5%;
}

#Comunity {
  grid-column-gap: 10px;
  -webkit-backdrop-filter: blur(8.9px);
  backdrop-filter: blur(8.9px);
  background-color: #5882c126;
  border-radius: 28.5px;
  flex-flow: row;
  justify-content: flex-start;
  align-items: center;
  width: 91%;
  height: auto;
  min-height: 20%;
  padding: 2px 1px 1px 8.9px;
  display: flex;
  overflow: hidden;
  gap: 10%;
}

#Community_pic_frame {
  border-radius: 25px;
  flex-shrink: 0;
  width: 50px;
  height: 50px;
  margin: 0;
  overflow: hidden;
}
#Community_pic {
  object-fit: cover;
  border-radius: 25px;
  width: 100%;
  height: 100%;
  inset: 0;
}
#Community_text_frame {
  -webkit-backdrop-filter: blur(8.9px);
  backdrop-filter: blur(8.9px);
  background-color: #5882c147;
  border-radius: 28.5px;
  flex-flow: column;
  flex-shrink: 0;
  justify-content: center;
  align-items: center;
  row-gap: 1px;
  width: 159px;
  height: 44px;
  margin: 0;
  padding: 13.9px 6.9px;
  display: flex;
  overflow: hidden;
}

#Community_Name {
  text-align: left;
  -webkit-background-clip: text;
  background-clip: text;
  flex-shrink: 0;
  width: max-content;
  margin: 0;
  font-size: 15px;
  font-weight: 600;
  display: inline;
  position: relative;
}
#Community_Users {
  text-align: center;
  -webkit-background-clip: text;
  background-clip: text;
  flex-shrink: 0;
  justify-content: center;
  align-items: center;
  width: 77px;
  height: 10px;
  margin: 0;
  font-size: 10px;
  font-weight: 600;
  display: inline-flex;
  position: relative;
}

#Menu {
  -webkit-backdrop-filter: blur(8.9px);
  backdrop-filter: blur(8.9px);
  background-color: #5882c147;
  border-radius: 28.5px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 90%;
  min-height: 60px;
  padding-bottom: 0%;
  padding-left: 2%;
  padding-right: 2%;
  padding-top: 0%;
}

#Home,
#Perfil,
#Salir {
  grid-column-gap: 22px;
  border-radius: 0;
  width: max-content;
  flex-flow: row;
  flex-shrink: 0;
  justify-content: flex-start;
  align-items: center;
  display: flex;
  position: relative;
}
#Vector_2,
#Vector_3,
#Vector_4 {
  width: 35px;
  height: 35px;
  flex-shrink: 0;
  margin: 0;
}

#menu_Text {
  text-align: left;
  width: max-content;
  font-size: 20px;
  font-weight: 500;
}
