<!doctype html>
<html lang="en" xml:lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Iniciar Sesión</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Source+Code+Pro:ital,wght@0,600;1,600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/iniciar-sesion.css' ) }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='Img/Logo-Cuammunity.avif') }}" type="image/x-icon">
    <script src="{{ url_for('static', filename='JS/login.js' ) }}" defer></script>
    <meta name="viewport" content="width=device-width" />
  
  </head>
  {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
      {% for category, message in messages %}
        <script>
          document.addEventListener('DOMContentLoaded', function() {
              mostrarPopCard("{{ message }}","{{ category }}");
          });
        </script>
      {% endfor %}
    {% endif %}
  {% endwith %}

  <body id="_">
    
        <div id="Background-Back">
          <!-- Figuras del Fondo-->
        
          <div id="Background-Front">
            <!-- Figuras del Fondo-->

            <img src="{{ url_for('static', filename='Icons/Group_12.webp')}}" id="Group_12">
            <img src="{{ url_for('static', filename='Icons/Group_13.webp')}}" id="Group_13">
            <img src="{{ url_for('static', filename='Icons/Group_14.webp')}}" id="Group_14">
            <img src="{{ url_for('static', filename='Icons/Group_16.webp')}}" id="Group_16">
            <img src="{{ url_for('static', filename='Icons/Group_18.webp')}}" id="Group_18">
            <img src="{{ url_for('static', filename='Icons/Group_19.webp')}}" id="Group_19">
            <img src="{{ url_for('static', filename='Icons/Group_24.webp')}}" id="Group_24">
            <img src="{{ url_for('static', filename='Icons/Group_20.webp')}}" id="Group_20">
            <img src="{{ url_for('static', filename='Icons/Group_21.webp')}}" id="Group_21">


            <div id="Form-Section">

              <div id="Title-Logo">
                <div id="Logo_frame">
                  <img src="{{ url_for('static', filename='Img/Logo-Cuammunity.avif') }}" alt="Logo" id="Logo">
                </div>
                <span id="Title" class="text">Cua-mmunity</span>              
              </div>
              
              <div id="Form"> 
                
                <h2 id="Subtitle" >Iniciar Sesion</h2>

                <form  method = "POST" id="Form-R" onsubmit="event.preventDefault(); log_in();">
                    <label  id=user-label class="text">Email</label>
                    <input name = "user"  type="email" id="user-input-holder" placeholder="username@gmail.com">
                  
                    <label name = "password" id=pswd-label>Password</label>
                    <input name = "pswd"  type="password" id="pswd-input-holder" placeholder="Password">

                   <span id="Missing" class="text">¿Olvidaste tu constraseña?</span>
                   
                   <button id="Log_In" >Acceder</button>

                   <span id="Not-Account">Todavia no tienes cuenta? <b><a href="{{url_for('registro')}}">Registrate Gratis!</b></a></b> </span>
                </form>
                  
              </div>

           

              </div>
            </div>

          </div>
        </div>
    
      <div id="PopCard">
      <div id= "PopCard_Content"> 
        <span id="msg"></span>
        <a id= PopBotton href="#">
        <button id= "pop_btn" onclick="ClosePop()">Entendido</button>
        </a>
      </div>
    </div>
  </body>
</html>
