<!doctype html>
<html lang="en" xml:lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Registro</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Source+Code+Pro:ital,wght@0,600;1,600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/registro.css' ) }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='Img/Logo-Cuammunity.avif') }}" type="image/x-icon">

    <script src="{{ url_for('static', filename='JS/registro.js' ) }}" defer></script>
    <meta name="viewport" content="width=device-width" />
  
  </head>
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
      {% for category, message in messages %}
        <script>
          document.addEventListener('DOMContentLoaded', function() {
              mostrarPopCard("{{ message }}","{{ category }}");
          });
        </script>
      {% endfor %}
    {% endif %}
  {% endwith %}

  <body id="_">
    
    
        <div id="Background-Back">
          <!-- Figuras del Fondo-->
        
          <div id="Background-Front">
            <!-- Figuras del Fondo-->
        
        <img src="{{ url_for('static', filename='Icons/Group_12.webp')}}" class="figura_fondo" id="Group_12"  alt="Icons_bg">
        <img src="{{ url_for('static', filename='Icons/Group_13.webp')}}" class="figura_fondo" id="Group_13"  alt="Icons_bg">
        <img src="{{ url_for('static', filename='Icons/Group_14.webp')}}" class="figura_fondo" id="Group_14"  alt="Icons_bg">
        <img src="{{ url_for('static', filename='Icons/Group_16.webp')}}" class="figura_fondo" id="Group_16"  alt="Icons_bg">
        <img src="{{ url_for('static', filename='Icons/Group_18.webp')}}" class="figura_fondo" id="Group_18"  alt="Icons_bg">
        <img src="{{ url_for('static', filename='Icons/Group_19.webp')}}" class="figura_fondo" id="Group_19"  alt="Icons_bg">
        <img src="{{ url_for('static', filename='Icons/Group_24.webp')}}" class="figura_fondo" id="Group_24"  alt="Icons_bg">
        <img src="{{ url_for('static', filename='Icons/Group_20.webp')}}" class="figura_fondo" id="Group_20"  alt="Icons_bg">
        <img src="{{ url_for('static', filename='Icons/Group_21.webp')}}" class="figura_fondo" id="Group_21"  alt="Icons_bg">
            <div id="Form-Section">
              <a href="/" id="anchor-Title-logo">
              <div id="Title-Logo">
                <div id="Logo_frame">
                <img src="{{url_for('static',filename='Img/Logo-Cuammunity.avif')}}"   alt="Logo" id="Logo"/>
                </div> 
                <span id="Title" class="text">Cua-mmunity</span>              
              </div>
              </a>
              <div id="Form"> 
                

                <form  id="Form-R" enctype="multipart/form-data" onsubmit="event.preventDefault(); Registro();">
                <h2 id="Subtitle" >Registrate</h2>
                  <div id = "column-1">
                   <label  id=user-label class="text">Nombre(s)</label>
                   <input name = "name"  type="text" id="user-input-holder" placeholder="Juan Carlos" required>
                  
                    <label  id=user-label class="text">Apellido Paterno</label>
                   <input name = "first_LastName"  type="text" id="first_lastname-input-holder" placeholder="Lopez" required>
                  
                   <label  id=user-label class="text">Apellido Materno</label>
                   <input name = "second_LastName"  type="text" id="second_lastname-input-holder" placeholder="Perez" required>
                  
                   <label  id=user-label class="text">Email</label>
                   <input name = "email"  type="email" id="email-input-holder" placeholder="juan.c.lopez@cua.uam.com" required>
                  
                   
                   <label  id=user-label class="text">Licenciatura/Ingenieria</label>
                   <input name = "career"  type="text" id="carreer-input-holder" placeholder="Licenciatura en Computación" required>
                   
                   <label  id=user-label class="text">Fecha de Nacimiento</label>
                  <input name = "birth"  type="date" id="birth-input-holder" placeholder="01/01/1999" required>
                
                  </div>
                  <div id="column-2">
                    <label  id=user-label class="text">Nombre de Usuario</label>
                    <input name = "user_name"  type="text" id="user_name-input-holder" placeholder="JuaOncahui" required>
                    
                     <div class="upload-container">
                      <label  id=user-label class="text">Foto de Perfil</label>
                      <label  id="btnfake">
                          <i class="fas fa-cloud-upload-alt"></i> Seleccionar Foto
                        </label>
                       <input name = "profile_p"  type="file" id="profile_p-input-holder" value="Foto de perfil" required>
                      <span id="fakefile">Ningún archivo seleccionado</span>
                     </div>

                    <div class="upload-container">
                      <label  id=user-label class="text">Fondo de Perfil</label>
                      <label  id="btnfake-bg">
                          <i class="fas fa-cloud-upload-alt"></i> Seleccionar Foto
                        </label>
                       <input name = "profile_p"  type="file" id="profile_bg-input-holder" value="Foto de perfil" required>
                      <span id="fakefile-bg">Ningún archivo seleccionado</span>
                     </div>


                    <label name = "password" id=pswd-label>Password</label>
                    <input name = "pswd"  type="password" id="pswd-input-holder" placeholder="Password" oninput="passwordCheck()" required>
                    
                    <div id="security_Section">
                      <div id="frame_pb">
                        <div id="progress_bar"></div>
                      </div> 
                      <span id="security_text"></span>
                    </div>
                    
                    <label name = "password" id=pswd-label>Verifica Contraseña</label>
                    <input name="pswd_v" type="password" id="pswd-input-holder-verification" placeholder="Password" oninput="passwordCheck()" required>
                    <span id ="match"></span>
                    
                    </div>
                  <div id="columna_btn">
                   <button id="Sign_Up"  disabled>Registrarse</button>
                  </div>

                </form>
                  
              </div>

           

              </div>
            </div>
            <!-- Figuras del Fondo-->



          </div>
        </div>
      </div>
    </div>
      <div id="PopCard">
      <div id= "PopCard_Content"> 
        <span id="msg"></span>
        <form id="code" onsubmit="event.preventDefault(); ConfirmaCorreo();">
          <div id="code_inputs">
            <input id ="Id_new_user" type="hidden" value=-1 >
            <input class ="code_input" type="number" placeholder="0" min="0" max="9" required>
            <input class ="code_input" type="number" placeholder="0" min="0" max="9" required>
            <input class ="code_input" type="number" placeholder="0" min="0" max="9" required>
            <input class ="code_input" type="number" placeholder="0" min="0" max="9" required>
            <input class ="code_input" type="number" placeholder="0" min="0" max="9" required>
            <input class ="code_input" type="number" placeholder="0" min="0" max="9" required>
          </div>
            <button id="code_btn">Confirmar</button>
          </form>

          <a id= PopBotton href="#">
          <button id= "pop_btn" onclick="ClosePop()">Entendido</button>
          </a>
      </div>
    </div>
  </body>
</html>
